@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500;1,700&family=Poppins:wght@300;600&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  background-color: #F6F1F1;
}

::-webkit-scrollbar {
  display: none;
}
